<h2>Recent Records</h2>
{% if records == blank %}
  <p>There is no records yet. Use the form below to add some.</p>
{% else %}
  <h6 class="float-right">Total Records: {{ records.size }}</h6>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th></th>
      <th>Actions</th>
      <th></th>
    </tr>
    {% for record in records %}
    <tr>
      <td>{{ record.id }}</td>
      <td><img src="{{ record.model_image }}" width="50"/></td>
      <td>{{ record.title }}</td>
      <td><a href="/detail/{{ record.id }}" class="btn btn-sm btn-primary">Details</a></td>
      <td><a href="/edit/{{ record.id }}" class="btn btn-sm btn-success">Edit</a></td>
      <td>{% include_form "delete_form", id: record.id %}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

<br/>
<hr class="hr">
<br/>
{% include_form 'crud_form' %}

<script>
  $(document).ready(function(){
    $('.btn-delete').on('click', function(){
      if (confirm("Are you sure?")) {
        return true;
      }
      return false;
    });
  });
</script>