---
name: edit_form
resource: crud
resource_owner: anyone
redirect_to: /
fields:
  properties:
    title:
      validation:
        presence: true
    description:
      validation:
        presence: true
    featured:
    model_image:
flash_notice: Record was successfully updated.
---
<h2>Edit Record</h2>

{% form %}
  <div class="row">
    <div class="form-group col-md-6">
      <label for="name">Title</label>
      <input name="{{ form.fields.properties.title.name }}" value="{{ form.fields.properties.title.value }}" id="title" type="text" class="form-control">
      {% if form.errors['properties.title'] %}
        <p>{{ form.errors['properties.title'] }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="description">Description</label>
      <textarea name="{{ form.fields.properties.description.name }}" id="description" class="form-control" rows="5">{{ form.fields.properties.description.value }}</textarea>
      {% if form.errors['properties.description'] %}
        <p>{{ form.errors['properties.description'] }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="description">Image</label><br>
      <img class="image-preview" width="100" src="{{ form.fields.properties.model_image.value }}">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 featured-image-wrap">
      <label for="description">Change Image</label><br>
      <input type="file" id="featured-image" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 img-wrap">
      <input name="{{ form.fields.properties.model_image.name }}" id="image" type="hidden" value="{{ form.fields.properties.model_image.value }}" />
    </div>
  </div>

  <button class="btn btn-primary mr-2 btn-submit">Save</button>
  <a class="btn btn-warning" href="/">Cancel</a>
{% endform %}
{%- graphql data = 'assets_presign_url', 
  path: "product_images"
-%}

<script type="text/javascript">
  $(document).ready(function() {

    $('#featured-image').on('change', function() {
      var theFile = this.files[0];
      var ext = theFile.name.split('.');

      ext = ext[ext.length - 1];
      $('.btn-submit').text('Uploading..').attr('disabled', 'disabled')

      console.log(theFile);

      $.ajax({
        method: 'POST',
        url: '/api/upload/get_presigned_url',
        data: {
          file_extension: ext,
          file_name: theFile.name,
          file_type: theFile.type,
          upload_path: "product_uploads",
          upload_time: new Date().getTime()
        },
        success: function(data) {
          data = JSON.parse(data);
          console.log(data);
          sendFile(theFile, data);
        }
      });

      function sendFile(file, data) {
        $.ajax({
          method: 'PUT',
          url: data.presign.urls[0].upload_url,
          data: file,
          processData: false,
          contentType: false,
          complete: function(resp) {
            $('#featured-image').val('');
            $('.image-preview').attr('src', data.presign.urls[0].access_url)
            $('#image').val(data.presign.urls[0].access_url);
            $('.btn-submit').text('Save').removeAttr('disabled');
          }
        }).done(function(resp) {
          console.log(resp);
        });
      };
    });
  });
</script>